@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 31px;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}

p {
  font-size: 19px;
}

.router-btn {
  padding: 10px 30px;
  font-size: 21px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

a,
.green {
  text-decoration: none;
  transition: color 0.2s ease;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
}
